 #map {
        height: 80%;
        width: 66%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #flotador{
        position: absolute;
        top: 40px;
        left: 70%;
        width: 350px;
      }

      #flotador2{
        position: absolute;
        top: 90px;
        left: 70%;
        width: 350px;
      }

      .botonMapa{
        width: 100%;
        margin: auto;
        background: #333;
        color: white;
        border: none;
        cursor: pointer;
      }